<div class="grid-container">
  <div class="grid-x grid-margin-x grid-padding-y align-middle">
    <div class="cell small-12 medium-4 medium-offset-2">
      <img src="/img/newsletter.png" alt="">
    </div>
    <div class="cell small-12 medium-4">
      <h2>Newsletter</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <form action="#">
        <label>
          Your email address
          <input type="text" placeholder="yourname@example.com">
        </label>
        <input type="sumbit"
               value="Subscribe"
               class="button expanded">
      </form>
    </div>
  </div>
</div>
