<div class="grid-container" style="margin-bottom: 20px;">
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false">
    <div class="orbit-wrapper">
      <ul class="orbit-container">
        <!-- range -->
        <li class="orbit-slide">
          <div class="orbit-figure">
            <div class="grid-x text-center">
              <div class="cell small-12 medium-5 slide-text">
                <h2 class="h4" style="padding: 15px;">Hello world</h2>
                <p style="padding: 0 15px;">
Vivamus sollicitudin ligula purus, sed malesuada massa venenatis sit amet. Donec porttitor scelerisque sodales. Proin aliquam placerat amet.
                </p>
                <a class="hollow button white"
                   href="#"
                   style="text-decoration: none;">Just do it</a>
                <button class="orbit-previous">&#9664;&#xFE0E;</button>
                <button class="orbit-next">&#9654;&#xFE0E;</button>
              </div>
              <div class="cell small-12 medium-7">
                  <img class="orbit-image show-for-medium"
                       src="https://via.placeholder.com/390x175"
                       alt="Space"
                       width="390"
                       height="175">
              </div>
            </div>
          </div>
        </li>
        <!-- end -->
      </ul>
    </div>
  </div>
</div>
