<div class="grid-container" style="margin-bottom: 20px;">
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false">
    <div class="orbit-wrapper">
      <ul class="orbit-container">
        <!-- range -->
        {{ range .Params.slider }}
        <li class="orbit-slide">
          <div class="orbit-figure">
            <div class="grid-x text-center">
              <div class="cell small-12 medium-5 slide-text"
                   style="padding: 15px;
                          background-color: #006ab5;
                          color: white;
                          max-height: 309px;">
                <h2 class="h4" style="padding: 15px;">{{ .title }}</h2>

                <p style="padding: 0 15px;">
                {{ .text | truncate 140 }}
                </p>
                <a class="hollow button white"
                   href="{{ .cta_link }}"
                   style="text-decoration: none;">{{ .cta }}</a>

                <button class="orbit-previous">&#9664;&#xFE0E;</button>
                <button class="orbit-next">&#9654;&#xFE0E;</button>
              </div>
              {{ $image := ($.Resources.ByType "image").GetMatch .img }}
              {{ $alttext := .img_alttext }}
              {{ with $image }}
              {{ $resized_image := $image.Fill "685x310" }}
                <div class="cell small-12 medium-7">
                  <img class="orbit-image show-for-medium"
                  src="{{ $resized_image.RelPermalink }}"
                  alt="{{ $alttext }}">
                </div>
                {{ end }}
            </div>
          </div>
        </li>
        {{ end}}
        <!-- end -->
      </ul>
    </div>
  </div>
</div>
