{{ define "main" }}
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell auto text-center">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <!-- range -->
    <div class="cell small-12 medium-4">
      <div class="card text-center">
        <div class="card-section">
        <img src="assets/img/generic/rectangle-1.jpg"
             alt=""
             width="250"
             height="250">
        </div>
        <div class="card-section">
          <h4>Person Name</h4>
          <p>Role</p>
          <ul class="menu align-center">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end -->
  </div>
</div>
{{ partial "widgets/matrix.html" . }}
{{ end }}
