<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ block "title" . }}
      {{ with .Params.Title }}
        {{ . }} -
      {{ end }}
      Open Science UMontreal
    {{ end }}
  </title>
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ $scss := resources.Get "scss/app.scss" }}
  {{ $style := $scss | resources.ToCSS }}
  
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ block "head" . }}
  {{ end }}
  
</head>
<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas position-left"
         id="offCanvas"
         style="background-color: white; width: 100%;"
         data-off-canvas>
      <!-- Your menu or Off-canvas content goes here -->
      {{ partial "nav/mobile.html" . }}
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <!-- Your page content lives here -->
      {{ partial "nav/main.html" . }}

      {{ block "main" . }}

      {{ end }}

      {{ partial "footer/footer.html" . }}
      {{ partial "footer/scripts.html" . }}
    </div>
  </div>
</body>
</html>
<!--
  Copyright Danny Colin, Samuel Guay, Open Science UMontreal (c) 2020

  This file is part of Open Science UMontreal.

  Open Science UMontreal is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Open Science UMontreal is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with openscience.ca. If not, see <http://www.gnu.org/licenses/>.
-->
