{{ define "main" }}
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 medium-offset-2"
           style="border-bottom: solid 2px #eee; margin-bottom: 20px;">
           <h1 class="text-center">{{ .Title }}</h1>
           {{ partial "post_metadata" . }}
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-8 medium-offset-2">
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ partial "widgets/newsletter.html" . }}
{{ end }}
