<footer style="background-color: #2a2a2e; color: white;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle">
      <div class="cell large-6 text-center">
        <img src="/img/osum-white.svg"
             alt="Open Science UMontreal">
      </div>
      <div class="cell large-6">
        <p style="margin: auto 0;"> {{ T "licence" | markdownify | emojify }}
        </p>
        <!-- Hide the footer menu for now
        <ul class="menu float-right">
          {{ range .Site.Menus.footer.ByWeight }}
          <li><a href="#">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        -->
      </div>
    </div>
  </div>
</footer>
